<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{15} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="consoleAppender"/>
  </root>

  <!-- 配置测试类的日志级别为 debug -->
  <logger name="com.youyi.rpc.util.ApplicationConfigUtilTest" level="debug">
    <appender-ref ref="consoleAppender" />
  </logger>
</configuration>